body, button, input {font-family: 'Questrial', sans-serif;}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
   }

ul {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, figure {
    font-weight: normal;
    margin: 1;
}

button, input {
    outline:none;
    border: none;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

p, a, button, input {
    font-size: px-to-rem(18px);
}